#chat-container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    /* z-index: 9999; */
    flex-direction: column;
    overflow: hidden;
}

#chat-messages {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
    padding-bottom: 80px;
    padding-top: 20px;
}

#user-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(243, 243, 243, 0.5);
}

#message-input {
    flex-grow: 1;
    padding: 5px;
    background-color: #2e2e2e;
    border: 1px solid #333;
    border-radius: 0 5px 5px 0;
    color: #f0f0f0;
}

#send-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    align-self: flex-end;
    justify-self: flex-end;
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: #f3f3f3;
}

#chat-container.hidden {
    display: none;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.bot-message {
    background-color: #ececec;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

#top-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 5px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #333;
    border-radius: 5px;
}

#access-key {
    flex-grow: 1;
    padding: 5px;
    max-width: 100px;
    background-color: #2e2e2e;
    border: 1px solid #333;
    border-radius: 5px;
    color: #f0f0f0;
    border: 1px solid white;
}

#access-key:focus {
    outline: none;
}

#engine-select {
    width: 80px;
    padding: 5px;
    background-color: #2e2e2e;
    border-radius: 5px;
    color: #f0f0f0;
    border: 1px solid white;
}

#engine-select:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    #top-bar {
        flex-direction: column;
        align-items: flex-end;
    }
}